<footer class="footer-style-1">
    <div class="container">
      <div class="row">
        <div class="footer-style-1-inner">
          <div class="widget-footer widget-text col-first col-small">
            <a href="#">
              <img class="logo-footer" style="width:100px;height:100px" src="../../../assets/images/logo.png" alt="Logo Organic" />
            </a>
            <!-- <div class="widget-link">
              <ul>
                <li>
                  <span class="lnr lnr-map-marker icon"></span>
                  <span>379 5th Ave New York, NYC 10018</span>
                </li>
                <li>
                  <span class="lnr lnr-phone-handset icon"></span>
                  <a href="tel:0123456789">(+1) 96 716 6879</a>
                </li>
                <li>
                  <span class="lnr lnr-envelope icon"></span>
                  <a href="mailto: contact@site.com">contact@site.com </a>
                </li>
              </ul>
            </div> -->
          </div>
          <div class="widget-footer widget-link col-second col-medium">
            <div class="list-link">
              <h4 class="h4 heading">ABOUT</h4>
              <ul>
                <li>
                  <a href="#">How We Operate</a>
                </li>
                <li>
                  <a href="#">Stockists</a>
                </li>
                <!-- <li>
                  <a href="#">Health</a>
                </li>
                <li>
                  <a href="#">Organic</a>
                </li> -->
              </ul>
            </div>
            <div class="list-link">
              <h4 class="h4 heading">MEALS</h4>
              <ul>
                <li>
                  <a href="#">Signature Meals</a>
                </li>
                <li>
                  <a href="#">Custom Meal Builder</a>
                </li>
                <li>
                  <a href="#">Healthy Snacks & Treats</a>
                </li>
                <!-- <li>
                  <a href="#">Blog</a>
                </li> -->
              </ul>
            </div>
            <div class="list-link">
              <h4 class="h4 heading">CUSTOMER SERVICE</h4>
              <ul>
                <li>
                  <a href="#">Contact Us</a>
                </li>
                <li>
                  <a href="#">My Account</a>
                </li>
                <li>
                  <a href="#">|Sponsorship</a>
                </li>
                <!-- <li>
                  <a href="#">Check Out</a>
                </li> -->
              </ul>
            </div>
          </div>
          <div class="widget-footer widget-newsletter-footer col-last col-small">
            <h4 class="h4 heading">NEWS & DEALS</h4>
            <!-- <p>Subscribe now to get daily updates</p> -->
            <form class="organic-form form-inline btn-add-on circle border">
              <div class="form-group">
                <input class="form-control " style="border-color:#0fa3b1;" placeholder="Enter Your Email" type="email" />
                <button class="btn btn-primary " style="border-radius:0px;background-color: #0fa3b1;width: 100px" type="submit">
                 SIGN UP
                  </button>
              </div>
              <div class="form-group"></div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right style-1">
      <div class="container">
        <div class="row">
          <div class="copy-right-inner">
            <p>Copyright © 2017 Designed by AuThemes. All rights reserved.</p>
            <div class="widget widget-footer widget-footer-creadit-card">
              <ul class="list-unstyle">
                <li>
                  <a href="#">
                    <img src="../../../assets/images/icons/creadit-card-01.png" alt="creadit card" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="../../../assets/images/icons/creadit-card-02.png" alt="creadit card" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="../../../assets/images/icons/creadit-card-03.png" alt="creadit card" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="../../../assets/images/icons/creadit-card-04.png" alt="creadit card" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
